# Dépendances
node_modules/

# Fichiers sensibles
.env
.env.*
!.env.example

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json